<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
  <key>ClientId</key>
  <string>3iC2fB15Sa86J97zehSTBAE4Us9DNgYb</string>
  <key>Domain</key>
  <string>dev-x83i09at.auth0.com</string>
</dict>
</plist>
